@keyframes preloader__wrapper {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 30px;
    left: 30px;
    width: 132px;
    height: 132px;
    opacity: 0;
  }
}

.preloader__wrapper div {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: preloader__wrapper 2.4390243902439024s cubic-bezier(0,0.2,0.8,1) infinite;
}

.preloader__wrapper div:nth-child(1) {
  border-color: #1f4d8f;
}

.preloader__wrapper div:nth-child(2) {
  border-color: #ff8a00;
  animation-delay: -1.2195121951219512s;
}

.preloader {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.preloader__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.preloader__wrapper div { box-sizing: content-box; }