@import "fonts";
@import "dark";
@import "mixins";

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}

body {
  font-family: OpenSans-Regular;
  background: #f7f6f1;
  margin: 0 30px;
  color: #090b28;
}

h1, h2, h3, h4 {
  font-family: YesevaOne-Regular;
  font-weight: 500;
}

a {
  color: inherit;
}

button {
  font-family: OpenSans-Regular;
  transition: .5s ease-in-out;
  border-radius: 200px;
  border: none;
  font-weight: 900;
  font-size: 13px;
  cursor: pointer;
  width: 140px;
  height: 40px;
  outline: none;
  color: #fff;
  background-color: #1f4d8f;
  box-shadow: 0 24px 24px -12px hsla(215, 64%, 34%, 0.4);
  &:hover {
    background-size: 150% 100%;
    transition: .5s ease-in-out;
  }
}

input {
  display: block;
  box-sizing: border-box;
  background: #fff;
  border-radius: 15px;
  width: 350px;
  height: 40px;
  border: 1px solid #EBE9E0;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  transition: .3s ease-in-out;
  &:focus {
    border: 1px solid #c2c2ba;
    transition: .3s ease-in-out;
  }
  @include sm {
    width: 100%;
  }
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 5px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 200;
}

hr {
  width: 100%;
  opacity: .8;
  margin: 10px 0;
}

p {
  font-size: 14px;
}

form button {
  margin-top: 20px;
}