@import "../../styles/mixins.scss";

.cart {
  &__title {
    @include sm {
      font-size: 20px;
    }
    &--center {
      text-align: center;
    }
  }
  @include sm {
    width: 100%;
  }
  &__item {
    max-width: 560px;
    min-width: 500px;
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    p {
      color: #6e6e6e;
    }
    @include md {
      min-width: auto;
    }
  }
  &__currency {
    color: #0b0f33;
  }
  &__cover {
    margin-right: 15px;
    @include sm {
      margin-bottom: 15px;
    }
    img {
      width: 90px;
    }
  }
  &__price {
    margin-top: 4px;
  }
  &__authors {
    margin-top: 10px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  &__total {
    display: flex;
    align-items: baseline;
    h2, h3 {
      color: #000;
    }
    h2 {
      margin-right: -11px;
    }
  }
  &__empty {
    & img {
      display: block;
      margin: 0 auto;
      @include sm {
        width: 100%;
      }
    }
    @include sm {
      width: 100%;
    }
  }
  &__remove {
    width: 36px;
    height: 36px;
    cursor: pointer;
    margin: auto 0;
    img {
      margin-right: 30px;
      &:hover {
        opacity: .5;
      }
    }
  }
  &__wrapper {
    display: flex;
    @include sm {
      flex-direction: column;
      align-items: baseline;
    }
  }
}