@import "../../styles/mixins.scss";

.book {
  &__item {
    display: flex;
    flex-direction: column;
    width: 220px;
    margin-bottom: 20px;
    margin-right: 40px;
    &:hover img {
      transform: translateY(-7px);
      transition: transform .3s cubic-bezier(.52,.28,.47,1.15);
    }
    & img {
      height: 150px;
      border-radius: 0 10px 10px 0;
      transition: transform .3s cubic-bezier(.52,.28,.47,1.15);
      box-shadow: 0 24px 24px -12px rgba(38, 38, 38, 0.2);
      border: 0.5px rgba(0, 0, 0, 0.14) solid;
    }
    @include sm {
      justify-content: center;
      width: 100%;
      text-align: center;
    }
  }
  &__info {
    margin: 10px 0;
    h4 {
      margin: 0 0 10px 0;
    }
    p {
      font-size: 13px;
    }
  }
  &__buy {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    @include md {
      justify-content: start;
    }
    @include sm {
      flex-wrap: wrap;
      margin-top: 10px;
    }
  }
}
