.modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    z-index: 4;
    &__content {
        padding: 50px 20px;
        border-radius: 12px;
        background-color: white;
        text-align: center;
        width: 40%;
    }
    &.active {
        opacity: 1;
        pointer-events: all;
    }
}