@import "../../styles/mixins";

main {
  width: 100%;
  margin-left: 40px;
  @include md {
    margin-left: 0;
  }
}

.main {
  &__content {
    display: flex;
    margin-top: 50px;
    @include xl {
      justify-content: space-around;
    }
    @include md {
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
    }
  }
  &__error {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &__face {
    width: 90px;
    border-radius: 100px;
    border: 3px #fff solid;
    box-shadow: 0 24px 24px -12px rgba(38,38,38,.2);
    margin-bottom: 15px;
  }
  &__avatar {
    position: relative;
  }
  &__profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 30px;
    padding: 30px 0;
    min-width: 210px;
    &:hover {
      .main__name {
        opacity: .4;
        transition: all 0.2s ease 0s;
      }
    }
  }
  &__count {
    position: absolute;
    top: 4px;
    right: 0;
    background-color: #ff8a00;
    border-radius: 100%;
    width: 29px;
    height: 29px;
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-weight: 700;
      font-size: 17px;
      margin-top: 2px;
    }
  }
  &__name {
    max-width: 140px;
    margin-bottom: 15px;
    font-weight: 400;
    word-break: break-word;
    transition: all 0.2s ease 0s;
    text-decoration: underline;
    @include md {
      margin-bottom: 15px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    @include md {
      justify-content: space-between;
    }
    @include sm {
      justify-content: center;
    }
  }
  &__button {
    display: flex;
    margin: 15px 20px;
    text-decoration: none;
    padding: 17px 30px;
    transition: all 0.4s ease 0s;
    border-radius: 100px;
    &:hover {
      transition: all 0.4s ease 0s;
      color: #fff;
      background-color: #1f4d8f;
      box-shadow: 0 18px 24px -12px hsla(215, 64%, 34%, 0.4);
      .fa-book, .fa-bookmark, .fa-question-circle {
        color: #fff;
        transition: all 0.4s ease 0s;
      }
    }
  }
  &__title {
    margin-bottom: 30px;
  }
  &__sort {
    margin-bottom: 30px;
  }
  &__remove {
    background: #cc4457;
    color: #fff;
    &:hover {
      background: #b63d4d;
    }
  }
}

nav {
  ul {
    @include md {
      display: flex;
    }
    @include sm {
      display: block;
    }
  }
}
