@import "fonts";
@import "dark";
@import "mixins";

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}

body {
  font-family: OpenSans-Regular, serif;
  background: #f7f6f1;
  margin: 0 30px;
  color: #090b28;
}

h1, h2, h3, h4 {
  font-family: YesevaOne-Regular, serif;
  font-weight: 500;
}

a {
  color: inherit;
}

button {
  font-family: OpenSans-Regular, serif;
  transition: .3s ease-in-out;
  border-radius: 200px;
  border: none;
  font-weight: 900;
  font-size: 13px;
  cursor: pointer;
  width: 140px;
  height: 40px;
  outline: none;
  color: #fff;
  background-color: #1f4d8f;
  box-shadow: 0 16px 24px -12px hsla(215, 64%, 34%, 0.4);
  &:hover {
    background-size: 150% 100%;
    transition: .3s ease-in-out;
    box-shadow: none;
    background-color: #1a4279;
  }
}

input {
  display: block;
  box-sizing: border-box;
  background: #fff;
  border-radius: 15px;
  width: 350px;
  height: 40px;
  border: 1px solid #EBE9E0;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  transition: .3s ease-in-out;
  &:focus {
    border: 1px solid #c2c2ba;
    transition: .3s ease-in-out;
  }
  @include sm {
    width: 100%;
  }
}

select {
  padding: 13px 34px 13px 19px;
  background-color: #808080;
  color: #fff;
  border-radius: 50px;
  border: none;
  font-size: 14px;
  outline: none;
  z-index: 2;
  appearance: none;
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  max-width: 100%;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23b3b3b3%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 5px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 200;
}

hr {
  width: 100%;
  opacity: .8;
  margin: 10px 0;
}

p {
  font-size: 14px;
}

form button {
  margin-top: 20px;
}